* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    /* height: 100vh; */
    background-image: url("/images/new-background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 170px;
}

.middle-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.middle-nav p {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* Nested Dropdown */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {
    background-color: #d0d0d0
} */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/* navlinks */

.sidebar .nav-links {
    height: 100%;
    overflow: auto;
    width: 260px;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    /* background: #d0d0d0; */
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 10px 20px;
    /* margin-top: -10px; */
    background: #dbdbdb;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: black;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

/* Nested Dropdown End */

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-nav a{
    display: flex;
}

.wallet {
    color: white;
    padding: 5px 10px;
    background-color: #252e4d;
    border-radius: 5px;
}

.deposit {
    color: white;
    padding: 5px 10px;
    background-color: #D17918;
    border-radius: 5px;
}

.right-nav img {
    height: 40px;
    width: 40px;
}

/* Main Box */

.main-box{
    width: 95%;
    margin: auto;
    display: flex;
}

/* Match Details Section */

.match-details {
    height: auto;
    width: 74%;
    /* background-color: rgba(182, 179, 38, 0.10); */
    display: block;
    margin: 15px auto;
    border-radius: 15px;
    /* border: 1px solid #b7b520; */
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.match-details .top-pill {
    width: 200px;
    position: absolute;
    top: -39.61px;
    left: -1px;
    height: 40px;
}

.league-name {
    position: absolute;
    top: -30px !important;
    left: 7px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.league-name img {
    width: 35px;
}

.league-name p {
    color: white;
    font-size: 17px;
}

.match-game-details{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.match-game-details .para{
    color: white;
    width: 98%;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    white-space: nowrap;
}

.cashout-btn{
    width: 120px !important;
    height: auto !important;
}

.match-game-details .para1{
    color: #bbb;
    width: 98%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    white-space: nowrap;
}

.match-name-main-box{
    color: white;
    background-color: black;
    width: 100%;
    border-radius: 12px;
}

.match-game-details .para-title{
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.match-game-details .para-title p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #BBBBBB;
    font-weight: 600;
}

.match-game-details .para-title p img{
    width: 30px;
    height: 30px;
}

.match-game-details .para-title .vs-logo{
    width: 30px;
    height: auto;
}

.league-name-main-box{
    width: 98%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    gap: 5px;
}

.league-name-box{
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.league-name-box p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.league-name-box p img{
    width: 25px;
    height: 25px;
}

.league-timing{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #B6B326;
    font-weight: 600;
    font-size: 15px;
}

/* Live Status Text */

.live-status-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.live-status-text span {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #44E15C;
    border-radius: 50%;
}

.live-status-text p {
    color: white;
    font-size: 16px;
}

@media (max-width: 600px) {
    .match-game-details .para-title{
        font-size: 13px;
        gap: 7px;
        padding: 0px 5px;
    }
    .match-game-details .para-title p{
        gap: 2px;
    }
    .match-game-details .para-title p img{
        width: 25px;
        height: 25px;
    }
    .match-game-details .para-title .vs-logo{
        width: 20px;
    }
    .league-name-box{
        font-size: 13px;
        gap: 10px;
    }
    .league-timing{
        font-size: 13px;
    }
    .live-status-text p{
        font-size: 13px;
    }
    .league-name-box p img{
        width: 20px;
        height: 20px;
    }
    .match-name-main-box{
        border-radius: 10px;
    }
}

/* Score Bar */

.live-status-bar{
    background-color: #000;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

.score-bar{
    display: flex;
    align-items: center;
    gap: 5px;
}

.score-bar button{
    background-color: #B6B326;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.score-bar button img{
    width: 20px;
    height: auto;
}

.live-status-bar p {
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: none;
    border-bottom: 2px solid #B6B326;
    padding-bottom: 2.5px;
    align-self: flex-end;
}

@media (max-width:1000px){
    .live-status-bar p{
        display: block;
    }
}

@media (max-width:426px) {
    .score-bar button{
        font-size: 14px;
        padding: 2.5px 5px;
    }
    .live-status-bar p{
        font-size: 14px;
    }
}

/* Match Table */

.table{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.table-head{
    width: 95%;
    background-color: #000713;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.table-top-left{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.table-top-left img{
    width: 20px;
    height: 20px;
}

.table-top-right{
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 5px 0px;
}

.table-body{
    width: 100%;
    background-color: #393838;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid rgb(132, 132, 132);
    gap: 5px;
}

.table-body-left p{
    background-color: #393838;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.table-body-left{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-body-right{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.book-btn{
    border: 1px solid #FFF;
    background-color: #555;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 5px;
}

.green-yellow-btn{
    border: 1px solid green;
    background-color: #d3d166;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 5px;
}

.red-yellow-btn{
    border: 1px solid red;
    background-color: #d3d166;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 5px;
}

.t-odds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.t-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 100%;
}

.blue {
    padding: 4px 0px;
    background-color: #82CFFF !important;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    line-height: 15px;
}

.blue span{
    font-size: 12px;
    font-weight: 500;
}

.suspended-btn{
    width: 100%;
    background-color: #000713;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0px;
    border-radius: 5px;
}

.pink {
    padding: 4px 0px;
    background-color: #FFB5BD !important;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    line-height: 15px;
}

.pink span{
    font-size: 12px;
    font-weight: 500;
}

.ladder-icon{
    width: 10px;
    height: auto;
}

.btn-ladder{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Fancy Bar */

.fancy-bar{
    width: 100%;
    background-color: #b7b520;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.fancy-bar p{
    color: #565656;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    width: 150px;
    padding: 10px;
    text-align: center;
}

/* Live Status Toggle Section */

.live-status {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 5px;
}

.live-status-pill-btn label img {
    width: 20px;
    height: 20px;
}

.live-status-pill-btn input[type="radio"] {
    display: none;
}

.live-status-pill-btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-status-pill-btn label {
    color: #000000;
    background-color: #B6B326;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
}

.live-status-pill-btn :checked+label {
    color: #565656;
    background-color: white;
}

@media (max-width:370px) {
    .live-status-pill-btn label span{
        display: none;
    }
}

/* Details */

details {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    border-radius: 8px;
    position: relative;
    color: white;
    background-color: #000713;
}

details .summary-title {
    font-size: 14px;
    color: #ededed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

details .summary-title img {
    width: 20px;
    height: 20px;
}

details:hover {
    cursor: pointer;
}

details .summary-content {
    /* border-top: 1px solid #e2e8f0; */
    cursor: default;
    /* padding: 1em; */
    font-weight: 300;
    line-height: 1.5;
}

details summary {
    list-style: none;
    padding: 2px 10px;
}

details summary:focus {
    outline: none;
}

details summary:hover .summary-chevron-up svg {
    opacity: 1;
}

details .summary-chevron-up svg {
    opacity: 0.5;
}

details .summary-chevron-up,
details .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    background: #000713;
}

details .summary-chevron-up svg,
details .summary-chevron-down svg {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

  /* Open Bets Section */

  .open-bets{
    width: 24%;
    height: auto;
    border: 1px solid black;
    margin: 15px auto;
    border-radius: 10px;
    /* background-color: rgba(182, 179, 38, 0.10); */
    /* padding: 10px 0px; */
  }

  .open-bets p{
    font-size: 18px;
    color: #b7b520;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin: auto;
  }

  .open-bets-toggle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
  }

  .open-bets-toggle-btn label img {
    width: 20px;
    height: 20px;
}

.open-bets-toggle-btn input[type="radio"] {
    display: none;
}

.open-bets-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.open-bets-toggle-btn label {
    width: 100%;
    color: white;
    background-color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}

:checked+label {
    background: #B6B326;
    color: #fff;
}

@media (max-width:1000px) {
    .open-bets{
        display: none;
    }
    .match-details{
        width: 100%;
    }
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0px;
}

.follow-us {
    width: 70%;
    height: 100px;
    background-image: url("/images/black-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.follow-us h2 {
    color: white;
    font-size: 30px;
}

.download-android {
    width: 70%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download-android h2 {
    color: white;
    font-size: 25px;
}

.android-images {
    display: flex;
    align-items: center;
    gap: 10px;
}

.android-images img {
    width: 235px;
    cursor: pointer;
}

.social-images {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-images img {
    width: 150px;
    cursor: pointer;
}

.social-desk {
    display: block;
}

.social-mob {
    display: none;
}

/* Gaming Partner Section */

.gaming-partner {
    width: 70%;
    height: 100px;
    background-image: url("/images/black-box.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 50px;
}

/* Copyright Section */

.copyright {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0px 50px;
}

.copyright img {
    width: 200px;
    height: auto;
}

footer p {
    color: white;
}

@media (max-width: 1060px){
    .middle-nav{
        display: none;
    }
}

@media (max-width: 790px) {
    nav{
        padding: 15px 10px;
    }
    .logo{
        width: 110px;
    }
    .middle-nav{
        display: none;
    }
    .right-nav{
        gap: 5px;
    }
    .right-nav img{
        height: 30px;
        width: 30px;
    }
    .download-android{
        width: 90%;
        height: auto;
        gap: 10px;
    }
    .download-android h2{
        font-size: 16px;
    }
    .android-images img{
        width: 170px;
    }
}

@media (max-width: 1350px){
    .follow-us h2{
        font-size: 22px;
    }
}

@media (max-width: 1275px){
    .follow-us h2{
        font-size: 22px;
    }
    .follow-us{
        height: 90px;
        padding: 0px 20px;
    }
    .gaming-partner{
        height: 90px;
        overflow-x: auto;
    }
}

@media (max-width: 1100px){
    .follow-us h2{
        font-size: 20px;
    }
    .social-images img{
        width: 110px;
    }
    .follow-us{
        height: 80px;
    }
    .gaming-partner{
        height: 80px;
    }
    .gaming-partner img{
        width: 10%;
    }
}

@media (max-width: 900px){
    .follow-us h2{
        font-size: 18px;
    }
    .follow-us{
        height: 60px;
        padding: 0px 20px;
    }
    .gaming-partner{
        height: 60px;
        overflow-x: auto;
    }
    .social-images img{
        width: 95px;
    }
}

@media (max-width: 769px) {
    .main-box{
        width: 98%;
    }
    .match-details{
        width: 100%;
    }
    .match-game-details .para{
        font-size: 10px;
    }
    .match-game-details .para1{
        font-size: 12px;
    }
    details .summary-title img{
        width: 17px;
        height: 17px;
    }
    details .summary-title{
        font-size: 16px;
    }
    .table-head{
        width: 90%;
    }
    .table-body-left{
        width: 55%;
    }
    .table-body-left p{
        font-size: 14px;
    }
    .cashout-btn{
        width: 90px !important;
    }
    .table-body-right{
        width: 45%;
    }
    .blue{
        width: 45%;
        font-size: 13px;
    }
    .blue span{
        font-size: 11px;
    }
    .pink{
        width: 45%;
        font-size: 13px;
    }
    .pink span{
        font-size: 11px;
    }
    .fancy-bar{
        width: 98%;
    }
    .fancy-bar p{
        font-size: 16px;
        width: 120px;
        padding: 8px;
    }
    .social-images img{
        width: 80px;
    }
    .gaming-partner img{
        width: 15%;
    }
    .follow-us{
        width: 95%;
        padding: 0px 10px;
        height: 70px;
    }
    .follow-us h2 {
        font-size: 18px;
    }
    .gaming-partner{
        width: 95%;
        padding: 0px 10px;
        height: 70px;
        overflow-x: auto;
    }
    .copyright{
        height: 50px;
    }
    .copyright img{
        width: 100px;
    }
    footer p{
        text-align: center;
    }
    .social-desk{
        display: none;
    }
    .social-mob{
        display: block;
    }
}

@media (max-width: 500px){
    .social-images img{
        width: 50px;
    }
    .follow-us h2 {
        font-size: 14px;
    }
    .follow-us{
        background-image: url("/images/black-box-mob.png");
    }
    .gaming-partner{
        background-image: url("/images/black-box-mob.png");
    }
    .gaming-partner{
        height: 55px;
    }
    .follow-us{
        height: 55px;
    }
}

@media (max-width: 410px){
    .social-images{
        gap: 7px;
    }
}

@media (max-width: 375px){
    .gaming-partner{
        height: 47px;
    }
    .follow-us{
        height: 47px;
    }
}

/* Mobile Sidebar */

.mob-sidebar{
    width: 300px;
    height: 100vh;
    background-color: #393838;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 10px 0px;
    overflow-y: scroll;
    display: none;
}

.mob-sidebar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.mob-side-top-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mob-side-cross{
    background-color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.mob-sidebar-top img{
    height: 30px;
    width: 30px;
}

.mob-side-register{
    background-color: #b7b520;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.mob-sidebar ul li{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 10px;
    font-weight: 500;
}

.mob-side-arrow li{
    justify-content: space-between;
}

.mob-sidebar ul li span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mob-sidebar ul li img{
    width: 20px;
    height: 20px;
}

.mob-side-title{
    color: white;
    background-color: #161623;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

.mob-side-title img{
    width: 20px;
    height: 20px;
}

.mob-sidebar-support{
    width: 95%;
    height: auto;
    margin: 10px auto;
    padding: 15px;
    background-color: #171f35;
    border-left: 2px solid #b7b520;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mob-sidebar-support img {
    width: 37%;
}

.mobile-side-bars{
    display: none;
    width: 25px !important;
    height: 25px !important;

}

@media (max-width: 1024px) {
    .mobile-side-bars{
        display: block;
    }
}

@media (max-width: 400px) {
    .wallet{
        padding: 5px;
    }
    .deposit{
        padding: 5px;
    }
    .right-nav img{
        width: 25px;
        height: 25px;
    }
    .mobile-side-bars{
        width: 20px !important;
        height: 20px !important;
    
    }
}

/* Footer Gaming Partner Logo */

.gaming-partner-logo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 15px;
    background-image: linear-gradient(-145deg,#cfcfd0,#161623,#161623,#cfcfd0);
}

.gaming-partner-logo-img {
    width: 100%;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #161623;
    margin: 2px;
    padding: 5px;
    flex-wrap: wrap;
    gap: 5px;
}

.gaming-partner-logo-section{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.gaming-partner-logo-img img {
    width: 12%;
    height: 70px;
    border-radius: 10px;
}

@media (min-width: 816px) and (max-width: 1250px) {
    .gaming-partner-logo{
        width: 70%;
    }
    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }
    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
}

@media (min-width: 501px) and (max-width: 815px) {
    .gaming-partner-logo{
        width: 95%;
    }
    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }
    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
}

@media (max-width: 500px) {
    .gaming-partner-logo{
        width: 95%;
    }
    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }
    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
}

/* Button */
.bt-n {
    width: 100%;
    height: auto;
    /* background: #393939; */
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    background-image: linear-gradient(-145deg, #cfcfd0, black, black, #cfcfd0);
  }
  
  .bt-n h2 {
    z-index: 1;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
      padding: 2px;
  }
  
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .bt-n::after {
    content: '';
    position: absolute;
    background: #393939;
    inset: 4px;
    border-radius: 15px;
  }
  
  @media (max-width: 500px) {
      .bt-n{
          width: 98%;
      }
      .bt-n h2 details{
          width: 100%;
      }
  }