* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    /* height: 100vh; */
    /* background-image: url("/images/background.jpeg"); */
    background-image: url("/images/new-background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
    /* background: linear-gradient(180deg, rgba(181,179,38,1) 0%, rgba(121,119,25,1) 52%, rgba(73,72,15,1) 74%, transparent 100%); */
}

.bottom_bar {
    position: fixed;
    bottom: 0;
    background-image: radial-gradient(circle at 50% 3px, transparent 35px, #000 35px);
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 18px 18px 0 0;
    display: none;
}

.bottom_bar ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.bottom_bar li {
    flex-basis: 20%;
}

.bottom_bar li:last-child {
    border-right: 1px solid transparent;
}

.bottom_bar li a {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: white !important;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    padding: 10px 0 5px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bottom_bar li a span.ic {
    text-align: center;
    display: block;
    padding-bottom: 5px;
    height: 30px;
    margin: 0 auto;
}

.bottom_bar li a img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
}

.bottom_bar li a.active {
    background: var(--active-primary);
    color: var(--color-white);
    font-weight: 600;
}

.bottom_bar li a.active span img {
    filter: brightness(100);
}

.bottom_bar li.bigCircle {
    position: absolute;
    height: 70px;
    width: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
}

.bottom_bar li.bigCircle:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 100%;
    z-index: -1;
    margin: auto;
    box-shadow: -4.58667px 4.58667px 9.17333px rgba(230, 230, 230, 0.2), 4.58667px -4.58667px 9.17333px rgba(230, 230, 230, 0.2), -4.58667px -4.58667px 9.17333px rgba(255, 255, 255, 0.9), 4.58667px 4.58667px 11.9253px rgba(230, 230, 230, 0.9), inset -0.917333px -0.917333px 1.83467px rgba(230, 230, 230, 0.5);
}

.bottom_bar li.bigCircle a.circleBtn {
    position: relative;
    color: var(--color-white);
    top: -8px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
}

.bottom_bar li.bigCircle a.circleBtn img {
    position: relative;
    left: -1.5px;
}

.bottom_bar li.bigCircle a.circleBtn .closeImg {
    display: none;
    font-size: 22px;
    position: relative;
    top: 4px;
}

.bottom_bar li.bigCircle span.menu-item {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 65%;
    line-height: 5px;
    top: 60%;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    background-color: #000;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: -2;
    -webkit-box-shadow: var(--bottom-tab-menuitem-shadow);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 699px) {
    .bottom_bar li.bigCircle span.menu-item {
        left: 70%;
    }
}

@media (max-width: 575px) {
    .bottom_bar li.bigCircle span.menu-item {
        left: 77%;
    }
}

@media (max-width: 399px) {
    .bottom_bar li.bigCircle span.menu-item {
        left: 84%;
    }
}

.bottom_bar li.bigCircle span.menu-item a {
    padding: 0;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(2) {
    transform: rotate(-35deg) translateY(-95px) rotate(35deg);
    transition-delay: 0.2s;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(3) {
    transform: rotate(-70deg) translateY(-90px) rotate(70deg);
    transition-delay: 0.3s;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(4) {
    transform: rotate(30deg) translateY(-95px) rotate(-30deg);
    transition-delay: 0.1s;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(5) {
    transform: rotate(70deg) translateY(-90px) rotate(310deg);
    transition-delay: 0s;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(6) {
    transform: rotate(0) translateY(-108px) rotate(0);
    transition-delay: 0s;
}

.bottom_bar li.bigCircle.menuOpen span.menu-item:nth-child(6) img {
    width: 28px;
    height: 28px;
}

.bottom_bar li.bigCircle.menuOpen span.bottom-circle {
    z-index: -3;
    position: absolute;
    top: 10%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 260px;
    width: 260px;
    border-radius: 160px 160px 0 0;
    background-color: #000;
}

.bottom_bar li.bigCircle.menuOpen .circleBtn img.house_img {
    display: none;
}

.bottom_bar li.bigCircle.menuOpen .circleBtn .closeImg {
    display: block;
}

.tier_btn button img {
    max-width: 30px;
    width: 30px;
    position: relative;
    top: -2px;
}

.search-box .modeBtn {
    font-size: 22px;
    color: white;
    border: none;
    background: transparent;
}

.fav_ic img {
    width: 30px;
    height: 30px;
}

.whatp {
    /* background-color: #66d548; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: blinkw;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 18px;
    color: white;
}

/* @keyframes blinkw {
    0% {
        background-color: #66d548;
        color: white;
   }
    50% {
        background-color: white;
        color: #66d548;
   }
    100% {
        background-color: #66d548;
        color: white;
   }
} */

@media (max-width: 769px) {
    .bottom_bar {
        display: block;
    }
}

.logo {
    width: 170px;
}

.middle-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.middle-nav p {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* Nested Dropdown */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {
    background-color: #d0d0d0
} */

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

/* navlinks */

.sidebar .nav-links {
    height: 100%;
    overflow: auto;
    width: 260px;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    /* background: #d0d0d0; */
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 10px 20px;
    /* margin-top: -10px; */
    background: #dbdbdb;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: black;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

/* Nested Dropdown End */

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-nav a {
    display: flex;
}

.wallet {
    color: white;
    padding: 5px 10px;
    background-color: #252e4d;
    border-radius: 5px;
    /* box-shadow: #B6B326 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

.deposit {
    color: white;
    padding: 5px 10px;
    background-color: #D17918;
    border-radius: 5px;
    box-shadow: #D17918 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.right-nav img {
    height: 40px;
    width: 40px;
}

.notification-bell {
    width: 40px;
    height: 40px;
    background-color: #252e4d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    /* box-shadow: #B6B326 0px 0.5px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}

.notification-bell img {
    width: 25px;
    height: 25px;
}

.notification-bell p {
    height: 20px;
    width: 20px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

@media (max-width: 790px) {
    .notification-bell {
        height: 30px;
        width: 30px;
    }

    .notification-bell img {
        width: 22px !important;
        height: 22px !important;
    }

    .notification-bell p {
        padding: 8px;
        width: 10px;
        height: 10px;
    }
}

/* Marquee Section */

.marquee {
    color: white;
    background-color: #0f171d;
    padding: 5px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.marquee marquee {
    width: 98%;
    font-size: 14px;
}

.marquee img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    left: 10px;
}

/* Banner Section */

.banner {
    width: 92%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 8px;
}

.banner img {
    width: 100%;
    border-radius: 20px;
}

/* Trending Games Section */

.trending {
    height: auto;
    width: 92%;
    /* background-color: rgba(182, 179, 38, 0.10); */
    display: block;
    margin: 30px auto 15px;
    border-radius: 0px 15px 15px 15px;
    /* border: 1px solid #b7b520; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.trending .top-pill {
    width: 200px;
    position: absolute;
    top: -39.61px;
    left: -1px;
    height: 40px;
}

.trend {
    position: absolute;
    top: -27px !important;
    left: 5px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.trend img {
    width: 40px;
}

.trend p {
    color: #e6e6e6;
    font-size: 17px;
}

.trending-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trending-img img {
    width: 16%;
    border-radius: 10px;
    border: 0.2px solid #D8AC79;
}

.trending-game-slide {
    color: #e6e6e6;
    position: absolute;
    top: -25px;
    right: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.trending-game-slide p span {
    color: #b7b325;
}

.trending-game-slide img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .trending-game-slide {
        font-size: 14px;
        gap: 5px;
        top: -25px;
    }

    .trending-game-slide img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 365px) {
    .trending-game-slide img {
        width: 15px;
        height: 15px;
    }
}

/* Trending Games Section */

.trending1 {
    height: auto;
    width: 92%;
    /* background-color: rgba(182, 179, 38, 0.10); */
    display: block;
    margin: 0px auto 15px;
    border-radius: 0px 15px 15px 15px;
    /* border: 1px solid #b7b520; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.trending-img1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trending-img1 img {
    width: 24%;
    border-radius: 10px;
}

.trending-img2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trending-img2 img {
    width: 24%;
    border-radius: 10px;
}

/* Game Pills Section */

.game-pills {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    background-color: #161623;
    /* border: 1px solid #b7b520; */
    padding: 10px 5px;
    border-radius: 15px;
    overflow-x: auto;
    gap: 10px;
}
.game-pills::-webkit-scrollbar {
    display: none;
  }

.games-pill-btn label img {
    width: 35px;
    height: 35px;
    align-self: flex-end;
}

.games-pill-btn input[type="radio"] {
    display: none;
}

.games-pill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-pill-btn label {
    color: white;
    background-color: #161623;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    padding: 12px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
    background: #222;
    backdrop-filter: blur(6px);
    box-shadow: #B6B326 0px 0.5px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

:checked+label {
    background: #B6B326;
    color: #fff;
}

@media (max-width:500px) {
    .games-pill-btn label img {
        height: 35px;
        width: 35px;
        align-self: flex-end;
    }

    .games-pill-btn label {
        height: 35px;
    }
}

@media (min-width:1100px) {
    .desk-max-width-label{
        width: 190px;
        font-size: 16px !important;
    }
}

#sports-item-pills{
    display: none;
}

/* Sports Section */

.sports {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.sport-games {
    width: 16%;
    height: auto;
}

.sport-games img {
    width: 100%;
}

/* Inplay Games */

.inplay {
    height: auto;
    width: 92%;
    /* background-color: rgba(182, 179, 38, 0.10); */
    display: block;
    margin: 30px auto 20px;
    /* border-radius: 0px 15px 15px 15px; */
    /* border: 1px solid #b7b520; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
}

.inplay .inplay-pill-img {
    width: 200px;
    position: absolute;
    top: -39.61px;
    left: -1px;
    height: 40px;
}

.inplay-img {
    position: absolute;
    top: -25px !important;
    left: 1px !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.inplay-img img {
    width: 40px;
}

.inplay-img p {
    color: white;
    font-size: 17px;
}

.upcoming-img {
    position: absolute;
    top: -25px !important;
    left: 1px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.upcoming-img img {
    width: 40px;
}

.upcoming-img p {
    color: white;
    font-size: 17px;
}

.upcoming-img-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.upcoming-img select{
    width: 115px;
    background-color: #B6B326;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-image: url("/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 16px 12px;
    appearance: none;
    -webkit-appearance: none;
}

.table {
    width: 100%;
}

.table-main-top-bar {
    width: 100%;
    height: 40px;
    background-color: #161623;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    border-radius: 10px 10px 0px 0px;
}

.table-top {
    width: 100%;
    height: 35px;
    background-color: #161623;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    border-radius: 0px 0px 0px 0px;
    border-top: 1px solid white;
}

.sport-img-table {
    width: 2%;
}

.table-top img {
    width: 25px;
    height: 25px;
}

.match-name {
    width: 42%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    gap: 5px;
}

.live-status {
    width: 58%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.live-status span {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #44E15C;
    border-radius: 50%;
}

.live-status p {
    color: white;
    font-size: 18px;
}

.table-below {
    width: 100%;
    height: auto;
    background-color: #393838;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px 10px;
}

.favourite-img {
    width: 2%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.favourite-img img {
    width: 20px;
    height: 20px;
}

.names {
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.match-timer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #B6B326 !important;
    font-weight: 500 !important;
}

.names img {
    width: 14px;
    height: 14px;
}

.live-tv {
    width: 11%;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
}

.live-tv img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.live-tv .live-tv-box{
    width: auto;
    height: auto;
    background-color: #276aa4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(-145deg, #fff, #b5b326, #b5b326, #fff);
}

.live-tv .live-tv-box span{
    background-color: #b5b326;
    width: 100%;
    padding: 7px 2px;
    margin: 0.5px;
    border-radius: 2px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-odds {
    width: 47%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-btn {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 0;
    margin-left: 10px;
}

.blue {
    padding: 10px 20px;
    background-color: #82CFFF;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    width: 50%;
    text-align: center;
}

.pink {
    padding: 10px 20px;
    background-color: #FFB5BD;
    color: black;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    width: 50%;
    text-align: center;
}

.blank {
    padding: 10px 20px;
    background-color: #2e3438;
    color: #aaafb5;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #aaafb5;
    width: 50%;
    text-align: center;
}

/* Details */

details {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    border-radius: 8px;
    position: relative;
    color: white;
    background-color: #212136;
}

details .summary-title {
    font-size: 14px;
    color: #ededed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

details .summary-title img {
    width: 20px;
    height: 20px;
}

details:hover {
    cursor: pointer;
}

details .summary-content {
    /* border-top: 1px solid #e2e8f0; */
    cursor: default;
    /* padding: 1em; */
    font-weight: 300;
    line-height: 1.5;
}

details summary {
    list-style: none;
    padding: 5px 10px;
}

details summary:focus {
    outline: none;
}

details summary:hover .summary-chevron-up svg {
    opacity: 1;
}

details .summary-chevron-up svg {
    opacity: 0.5;
}

details .summary-chevron-up,
details .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 0.2em;
    right: 1em;
    background: #212136;
}

details .summary-chevron-up svg,
details .summary-chevron-down svg {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}

/* Offer Section */

.offers {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    margin-bottom: 60px;
}

.offer-box {
    width: 24%;
    height: auto;
    padding: 5px 15px;
    /* background-color: #171f35; */
    /* border: 2px solid #b7b520; */
    background: radial-gradient(1376.99% 141.35% at 0% 0%, #000 0%, #4B0072 100%);
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-box img {
    width: 37%;
}

/* Upcoming Matches */

.match-label {
    padding: 4px 15px !important;
}

.upcoming-matches {
    padding-left: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.upcoming-matches-img {
    width: 117px;
    height: 40px;
    position: absolute;
    top: -39.5px;
    left: -2px;
}

.upcoming-matches-img2 {
    width: 198px;
    position: absolute;
    display: none;
    top: -42px;
    left: 52.8px;
}

.upcoming-matches-img3 {
    position: absolute;
    display: none;
    width: 156px;
    height: 40px;
    top: -40.4px;
    left: 186.8px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* .upcoming-matches{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -50px;
    left: 0px;
    padding-left: 40px;
}

.upcoming-matches-img {
    width: 240px;
    position: absolute;
    top: -54.4px;
    left: -2.2px;
}

.upcoming-matches-img2 {
    display: none;
    width: 273px;
    position: absolute;
    top: -56.4px;
    left: 171.8px;
}

.upcoming-matches-img3 {
    display: none;
    width: 273px;
    position: absolute;
    top: -56.4px;
    left: 411.8px;
} */

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 35px 0px;
}

.follow-us {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    margin: 5px 0px;
    /* background-image: linear-gradient(-145deg, #cfcfd0, #161623, #161623, #cfcfd0); */
    border-radius: 15px;
}

.follow-us h2 {
    color: white;
    font-size: 30px;
}

.follow-us-mini {
    width: 100%;
    /* background-color: #161623; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
    padding: 25px 50px;
    font-size: 14px;
}

.download-android {
    width: 70%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download-android h2 {
    color: white;
    font-size: 25px;
}

.android-images {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.android-images img {
    width: 235px;
    cursor: pointer;
}

.download-android1 {
    width: 70%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download-android1 h2 {
    color: white;
    font-size: 25px;
}

.android-images1 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.android-images1 img {
    width: 235px;
    cursor: pointer;
}

.social-images {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-images img {
    width: 150px;
    cursor: pointer;
}

.social-desk {
    display: block;
}

.social-mob {
    display: none;
}

/* Gaming Partner Section */

.gaming-partner {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    /* background-image: linear-gradient(-145deg, #cfcfd0, #161623, #161623, #cfcfd0); */
    /* border-radius: 15px; */
    border-top: 1px solid white;
}

.gaming-partner-mini {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 50px;
    /* background-color: #161623; */
    border-radius: 15px;
}

/* Copyright Section */

.copyright {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0px 50px;
}

.copyright img {
    width: 200px;
    height: auto;
}

footer p {
    color: #dddddd;
}

/* Responsive Code */

@media (max-width: 1060px) {
    .middle-nav {
        display: none;
    }
}

@media (min-width: 790px) and (max-width: 1350px) {
    .banner {
        width: 98%;
    }

    .game-pills {
        gap: 5px;
        width: 98%;
        overflow-x: scroll;
    }

    .trending {
        width: 98%;
    }

    .trending1 {
        width: 98%;
    }

    .sports {
        width: 98%;
    }

    .offers {
        width: 98%;
    }

    .inplay {
        width: 98%;
    }

    .table {
        overflow-x: scroll;
    }

    .t-btn {
        margin-left: 0px;
    }

    .blue {
        padding: 10px;
    }

    .pink {
        padding: 10px;
    }

    .blank {
        padding: 10px;
    }
}

.match-name p {
    font-size: 16px;
    font-weight: 600;
    color: #e6e6e6;
}

.names p {
    font-weight: 600;
    font-size: 16px;
    color: #d8d8d8;
}

@media (max-width: 1140px) {
    .live-tv{
        width: 20%;
    }
}

@media (max-width: 790px) {
    nav {
        /* padding: 15px 10px; */
        padding: 5px 10px;
    }

    .logo {
        /* width: 110px; */
        width: 120px;
    }

    .middle-nav {
        display: none;
    }

    .right-nav {
        gap: 5px;
    }

    .right-nav img {
        height: 30px;
        width: 30px;
    }

    .marquee marquee {
        width: 92%;
    }

    .marquee img {
        top: 2px;
    }

    .banner {
        width: 97%;
        margin: 10px auto auto;
    }

    .trending {
        width: 97%;
        height: auto;
        justify-content: space-between;
        gap: 5px;
        padding: 0px 0px 0px 5px;
        margin: 30px auto 10px;
        margin-bottom: 5px;
    }

    .trending-img {
        padding: 5px 0px;
        justify-content: space-between;
        gap: 5px;
        overflow-x: scroll;
    }

    .trending-img::-webkit-scrollbar {
        display: none;
      }

    .trending-img img {
        width: 32.5%;
    }

    .trending1 {
        width: 97%;
        height: auto;
        justify-content: space-between;
        gap: 5px;
        padding: 0px 0px 0px 5px;
        margin: 0px auto 0px;
    }

    .trending-img1 {
        padding: 5px 0px;
        justify-content: space-between;
        gap: 5px;
        overflow-x: scroll;
    }

    .trending-img1 img {
        width: 69%;
    }
    .trending-img1::-webkit-scrollbar {
        display: none;
      }
    .trending-img2 {
        padding: 5px 0px;
        justify-content: space-between;
        gap: 5px;
        overflow-x: scroll;
    }
    .trending-img2::-webkit-scrollbar {
        display: none;
      }
    .trending-img2 img {
        width: 49%;
    }

    .game-pills {
        width: 97%;
        gap: 10px;
        overflow-x: scroll;
    }

    .sports {
        width: 97%;
        flex-wrap: wrap;
    }

    .sport-games {
        width: 32%;
    }

    .sport-img-table {
        width: 9%;
    }

    .inplay {
        width: 98%;
        padding: 10px 0px;
    }

    .table-top {
        justify-content: space-between;
        padding: 0px 5px;
        gap: 0px;
    }

    .table-top img {
        width: 20px;
        height: 20px;
    }

    .match-name {
        width: 78%;
    }

    .match-name p {
        font-size: 14px;
        font-weight: 600;
        color: #e6e6e6;
    }

    .match-timer {
        font-size: 12px !important;
    }

    .live-status {
        width: 13%;
    }

    .live-status p {
        font-size: 14px;
    }

    .table-below {
        flex-wrap: wrap;
        gap: 0px;
        padding: 5px;
        padding-top: 0px;
    }

    .favourite-img {
        width: 5%;
    }

    .favourite-img img {
        width: 16px;
        height: 16px;
    }

    .names {
        width: 59%;
    }

    .names p {
        font-weight: 600;
        font-size: 14px;
    }

    .live-tv {
        width: 34%;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
    }

    .live-tv img {
        width: 14px;
        height: 14px;
        margin-right: 3px;
    }

    .live-tv .live-tv-box{
        font-size: 10px;
    }
    
    .t-odds {
        width: 100%;
        gap: 5px;
        margin-top: 5px;
    }

    .t-btn {
        margin-left: 0px;
        gap: 5px;
        width: 32%;
    }

    .blue {
        padding: 8px 10px;
        font-size: 14px;
        width: 50%;
        text-align: center;
    }

    .pink {
        padding: 8px 10px;
        font-size: 14px;
        width: 50%;
        text-align: center;
    }

    .blank {
        padding: 8px 10px;
        font-size: 14px;
        width: 50%;
        text-align: center;
    }

    .offers {
        width: 98%;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 42px;
    }

    .offer-box {
        width: 49%;
        height: auto;
    }

    .offer-box-content h2 {
        font-size: 16px;
    }

    .offer-box-content p {
        font-size: 12px;
    }

    .match-label {
        padding: 4px 15px !important;
        font-size: 18px !important;
    }

    .games-pill-btn label {
        padding: 5px 13px;
        font-size: 14px;
        white-space: break-spaces;
        gap: 8px;
    }

    .upcoming-matches {
        padding-left: 5px;
        padding-right: 5px;
        justify-content: space-between;
        gap: 10px;
    }

    .download-android {
        width: 90%;
        height: auto;
        gap: 10px;
    }

    .download-android h2 {
        font-size: 16px;
    }

    .android-images img {
        width: 150px;
    }

    .download-android1 {
        width: 90%;
        height: auto;
        gap: 10px;
    }

    .download-android1 h2 {
        font-size: 16px;
    }

    .android-images1 img {
        width: 49%;
    }
}

@media (max-width: 426px){
    .trending-img1 img{
        width: 100%;
    }
    .favourite-img {
        width: 7%;
    }
}

@media (max-width: 1350px) {
    .follow-us h2 {
        font-size: 22px;
    }

    .follow-us-mini {
        padding: 20px 10px;
    }
}

@media (max-width: 1100px) {
    .follow-us h2 {
        font-size: 20px;
    }

    .social-images img {
        width: 18.5%;
    }

    .gaming-partner img {
        width: 15%;
    }

    .social-desk {
        display: none;
    }

    .social-mob {
        display: block;
    }
}

@media (max-width: 900px) {
    .follow-us h2 {
        font-size: 18px;
    }
}

@media (max-width: 769px) {

    .gaming-partner img {
        width: 15%;
    }

    .follow-us {
        width: 95%;
    }

    .follow-us-mini {
        padding: 5px 10px;
    }

    .follow-us h2 {
        font-size: 18px;
    }

    .copyright {
        height: 50px;
    }

    .copyright img {
        width: 100px;
    }

    footer p {
        text-align: center;
    }

    .gaming-partner {
        width: 95%;
    }

    .gaming-partner-mini {
        width: 100%;
        padding: 10px;
    }

    footer {
        padding-bottom: 100px;
    }
    .upcoming-img{
        width: 98%;
    }
}

@media (max-width: 530px) {

    .follow-us h2 {
        font-size: 14px;
    }

    .sport-games {
        width: 49%;
    }
}

@media (max-width: 410px) {
    .social-images {
        gap: 7px;
    }
}

/* Mobile Sidebar */

.mob-sidebar {
    width: 300px;
    height: 100vh;
    background-color: #161623;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    padding: 10px 0px;
    overflow-y: scroll;
    display: none;
    padding-bottom: 90px;
}

.mob-sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.mob-side-top-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mob-side-cross {
    background-color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.mob-sidebar-top img {
    height: 30px;
    width: 30px;
}

.line-wid {
    width: 100%;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, white, transparent);
}

.mob-side-register {
    background-color: #b7b520;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 2px;
}

.mob-sidebar ul li {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 10px;
    font-weight: 500;
}

.mob-side-arrow li {
    justify-content: space-between;
}

.mob-sidebar ul li span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mob-sidebar ul li img {
    width: 20px;
    height: 20px;
}

.mob-side-title {
    color: white;
    background-color: #161623;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
}

.mob-side-title img {
    width: 20px;
    height: 20px;
}

.mob-sidebar-support {
    width: 95%;
    height: 70px;
    margin: 10px auto;
    padding: 15px;
    background-color: #171f35;
    border-left: 2px solid #b7b520;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mob-sidebar-support img {
    width: 35%;
    align-self: flex-end;
}

.mob-sidebar-support-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mob-sidebar-support-content p {
    color: #a2a2a7;
}

.mobile-side-bars {
    display: none;
    width: 25px !important;
    height: 25px !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media (max-width: 1024px) {
    .mobile-side-bars {
        display: block;
    }
}

@media (max-width: 450px) {
    .wallet {
        padding: 5px;
    }
    .deposit {
        padding: 7.5px 5px;
        font-size: 12px;
        font-weight: 600;
    }
}

@media (max-width: 400px) {
    .right-nav img {
        width: 25px;
        height: 25px;
    }

    .mobile-side-bars {
        width: 20px !important;
        height: 20px !important;
    }

    .notification-bell {
        height: 25px;
        width: 25px;
    }

    .notification-bell img {
        height: 20px !important;
        width: 20px !important;
    }

    .notification-bell p {
        padding: 7px;
        width: 8px;
        height: 8px;
        font-size: 12px;
    }
}

/* Casino Games Section */

.casino-games {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    overflow-x: auto;
}

.casino-games::-webkit-scrollbar {
    display: none;
}

.casino-games-pill-btn label img {
    width: 90px;
    height: 30px;
}

.casino-games-pill-btn input[type="radio"] {
    display: none;
}

.casino-games-pill-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.casino-games-pill-btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    outline: none;
    height: 40px;
    width: auto;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(-145deg, #161623, #161623, #161623, #161623);
    transform: skew(-20deg);
}

.casino-games-pill-btn label span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 32px;
    width: auto;
    background: #161623;
    margin: 0px 5px;
    padding: 0px 10px;
}

.casino-games-pill-btn label span p {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: auto;
    font-size: 16px;
    margin: 0px 5px;
    padding: 0px 10px;
    transform: skew(20deg);
    white-space: nowrap;
}

.casino-games-pill-btn input:checked+label {
    background-image: linear-gradient(-145deg, #fff, #b7b325, #b7b325, #fff);
    transform: skew(-20deg);
}

.casino-games-pill-btn input:checked+label span {
    background: #b7b325;
}

/* Casino Games Card Section */

.casino-games-card {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 5px;
}

.casino-games-card-img {
    width: 16%;
    height: 150px;
    background-image: linear-gradient(-145deg, #161623, #b7b325, #b7b325, #161623);
    border-radius: 10px;
    position: relative;
}

.casino-games-card-img img {
    width: 100%;
    height: 150px;
    padding: 2px;
    border-radius: 10px;
}

.casino-games-card-img p {
    color: white;
    background-color: #b7b325;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px 15px;
    z-index: 1;
    border-radius: 10px 0px 10px 0px;
    font-size: 14px;
}

/* Footer Gaming Partner Logo */

.gaming-partner-logo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 15px;
    background-image: linear-gradient(-145deg, #cfcfd0, #161623, #161623, #cfcfd0);
}

.gaming-partner-logo-img {
    width: 100%;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #161623;
    margin: 2px;
    padding: 5px;
    flex-wrap: wrap;
    gap: 5px;
}

.gaming-partner-logo-section {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.gaming-partner-logo-img img {
    width: 12%;
    height: 70px;
    border-radius: 10px;
}

@media (max-width:1350px) {
    .casino-games {
        width: 98%;
        justify-content: flex-start;
        gap: 5px;
        overflow-x: scroll;
        padding: 5px 10px;
    }

    .casino-games-pill-btn label span {
        padding: 0px;
    }

    .casino-games-card {
        width: 98%;
        gap: 5px;
        justify-content: space-between;
    }

    .casino-games-card-img {
        width: 16%;
    }
}

@media (min-width: 816px) and (max-width: 1250px) {
    .casino-games-card {
        justify-content: flex-start;
    }

    .casino-games-card-img {
        width: 24%;
    }

    .gaming-partner-logo {
        width: 70%;
    }

    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }

    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
    .gaming-partner-logo-img::-webkit-scrollbar {
        display: none;
      }
}

@media (min-width: 501px) and (max-width: 815px) {
    .casino-games-card {
        justify-content: center;
    }

    .casino-games-card-img {
        width: 32%;
    }

    .gaming-partner-logo {
        width: 95%;
    }

    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }

    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
    .gaming-partner-logo-img::-webkit-scrollbar {
        display: none;
      }

    .gaming-partner {
        width: 95%;
    }

    .follow-us {
        width: 95%;
    }

    .download-android {
        width: 95%;
    }
    .download-android1 {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .gaming-partner-logo {
        width: 95%;
    }

    .gaming-partner-logo-img img {
        width: 20%;
        height: 60px;
    }

    .gaming-partner-logo-img {
        flex-wrap: nowrap;
        justify-content: space-between;
        overflow-x: scroll;
    }
    .gaming-partner-logo-img::-webkit-scrollbar {
        display: none;
      }

    .casino-games-card {
        justify-content: center;
    }

    .casino-games-card-img {
        width: 49%;
    }
    details{
        width: 97%;
    }
    details[open]{
        width: 100%;
    }
}

#casino-toggle {
    display: none;
}

#slot-games-toggle{
    display: none;
}

#crash-games-toggle{
    display: none;
}

#table-games-toggle{
    display: none;
}

/* Footer Details Dropdown */

.footer-details{
    width: 70%;
}

.sup-details{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sup-details1{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.sup-details2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    border-top: 0.5px solid white;
}

.sup-details1 .sup-detail-para{
    text-align: left;
    width: 100%;
    color: #565656;
    font-size: 14px;
}

.sup-details2 .sup-detail-para{
    text-align: left;
    width: 100%;
    color: #565656;
    font-size: 14px;
}

.chevron-footer{
    top: 1em !important;
}

.sup-detail-text-1 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.sup-detail-text-1 p{
    text-align: left;
    font-size: 12px;
    width: 45%;
}

.sup-detail-text p{
    text-align: left;
    font-size: 15px;
}

.sup-detail-img{
    display: flex;
    align-items: center;
    gap: 5px;
}

.sup-detail-img button:nth-child(1){
    border: none;
    background: linear-gradient(99deg, #276AA5 0%, #00305B 100%);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
}

.sup-detail-img button:nth-child(2){
    border: none;
    background: linear-gradient(99deg, #276AA5 0%, #00305B 100%);
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sup-details-summary{
    width: 100%;
    padding: 5px 10px;
    border-top: 0.5px solid white;
}

.sup-details-summary p{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bababa;
}

.sup-details-summary p span{
    color: white;
}

/* Curaco Gaming */

.curaco-box{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 0.5px solid white;
}

.curaco-box img{
    width: 28%;
}

.curaco-box p{
    width: 68%;
    font-size: 12px;
    text-align: left;
    color: #999999;
}

.footer-bottom-para{
    color: #999999;
}

@media (max-width: 815px) {
    .footer-details{
        width: 95%;
    }
    .sup-details{
        width: 90%;
    }
    .sup-detail-text p{
        font-size: 12px;
    }
    .sup-details-summary p{
        font-size: 12px;
    }
    .chevron-footer{
        top: 0.8em !important;
    }
    .footer-bottom-para{
        font-size: 12px;
    }
    .curaco-box{
        width: 95%;
    }
    .curaco-box img{
        width: 38%;
    }
    .curaco-box p{
        width: 58%;
    }
}

/* Tog Box */

.sport-toggle{
    width: 92%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    overflow-x: auto;
    padding: 5px 5px;
    gap: 12px;
    margin: auto;
    margin-bottom: 5px;
    background-color: #161623;
    border-radius: 10px;
}

.sport-toggle::-webkit-scrollbar {
    display: none;
  }

.tog-box{
    /* background-color: #161623; */
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.match-counter{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #222222;
    font-size: 10px;
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tog-box img{
    width: 50px;
    height: 50px;
}

.color-1{
    color: #B6B326;
}
.color-1-blur{
    box-shadow: #B6B326 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-2{
    color: #9100DC;
}
.color-2-blur{
    box-shadow: #9100DC 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-3{
    color: #EA934B;
}
.color-3-blur{
    box-shadow: #EA934B 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-4{
    color: #47B349;
}
.color-4-blur{
    box-shadow: #47B349 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-5{
    color: #FFF658;
}
.color-5-blur{
    box-shadow: #FFF658 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-6{
    color: #738FFF;
}
.color-6-blur{
    box-shadow: #738FFF 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-7{
    color: #00B8FF;
}
.color-7-blur{
    box-shadow: #00B8FF 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-8{
    color: #D20050;
}
.color-8-blur{
    box-shadow: #D20050 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-9{
    color: #FF9A8A;
}
.color-9-blur{
    box-shadow: #FF9A8A 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-10{
    color: #E50011;
}
.color-10-blur{
    box-shadow: #E50011 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-11{
    color: #FFA047;
}
.color-11-blur{
    box-shadow: #FFA047 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-12{
    color: #47B349;
}
.color-12-blur{
    box-shadow: #47B349 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-13{
    color: #7F3E00;
}
.color-13-blur{
    box-shadow: #7F3E00 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-14{
    color: #FF6671;
}
.color-14-blur{
    box-shadow: #FF6671 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-15{
    color: #00B8FF;
}
.color-15-blur{
    box-shadow: #00B8FF 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-16{
    color: #00EACE;
}
.color-16-blur{
    box-shadow: #00EACE 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-17{
    color: #F4B73D;
}
.color-17-blur{
    box-shadow: #F4B73D 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}
.color-18{
    color: #0008C1;
}
.color-18-blur{
    box-shadow: #0008C1 0px 1px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}

@media (min-width: 790px) and (max-width: 1350px){
    .sport-toggle{
        width: 99%;
    }
}

@media (max-width: 790px) {
    .sport-toggle{
        width: 97%;
    }
    .sport-img-table{
        width: 9%;
    }
}

/* Button */
.bt-n {
  width: 100%;
  height: auto;
  /* background: #393939; */
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-image: linear-gradient(-145deg, #cfcfd0, #161623, #161623, #cfcfd0);
}

.bt-n h2 {
  z-index: 1;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
    padding: 2px;
}


@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bt-n::after {
  content: '';
  position: absolute;
  background: #393939;
  inset: 4px;
  border-radius: 15px;
}

@media (max-width: 500px) {
    .bt-n{
        width: 98%;
    }
    .bt-n h2 details{
        width: 100%;
    }
}

/* Upcoming Dropdown Button */

.dropbtnv {
    background-color: #b5b326;
    color: white;
    padding: 5px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 110px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .dropdownv {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-contentv {
    display: none;
    position: absolute;
    background-color: #000713;
    color: white;
    width: 110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 0px 0px 12px 12px;
  }
  
  .dropdown-contentv a {
    color: white;
    padding: 12px;
    text-decoration: none;
    width: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  
  .border-radiusv{
      border-radius: 12px 12px 0px 0px;
  }
  
  .dropdownv a:hover {background-color: #b5b326;}
  
  .showv {display: block;}